body {
  background :url("../Images/bg6.jpg")no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#wrapper 
{
	width:900px;
	min-height:940px;
	padding:auto;
	margin: 20px auto auto auto;
	border: 2px solid #fff;
	box-shadow: 0px 0px 10px #fff;
}
#Login_wrapper
{
    width:900px;
	min-height:940px;
	padding:auto;
	margin: 20px auto auto auto;
}
 /*Container*/
#container 
{
	width: 900px;
	height:704px;
}
#Container_Admin
{
    width:900px;
    height:704px;
    background-image:url("../Images/WorkArea-BG.png");
}
/*header*/
#header {
	height: 180px;
	width: 900px;
	background:url("../Images/header_logo.jpg");
}
/* Nav Bar */
#nav_bar {
	width:900px;
	height:25px;
	background:#0099CC;
}
#nav_bar ul {
	float:left;
	padding:0;
	margin:0;
	list-style-type:none;
	width:100%;
	background-color:#006699;
    height: 23px;
}
#nav_bar a {
	float:left;
	text-decoration:none;
	color:white;
	padding:0.2em 0.6em;
	font-family:"Arial";

    }
#nav_bar a:hover 
       {
	background-color:#ff3300;
      }
#nav_bar li {
	display:inline;
            }
#nav_bar asp:LinkButton 
{
    text-decoration:none;
	color:white;
	padding:0.2em 0.6em;
	font-family:"Arial";
	height:25px;
}

.Content_header
{
    width:557px;
    height:10px;
  
 
}
.Content_header p
{
    float:left;
    width:91px;
    height:auto;
    margin: 2px 0 2px 2px;
    color:Teal;
    font-weight:bold;
    font-size:14px;
}
	    
/*LOGIN FORM*/
#LoginForm{
		width: 360px;
		height: 250px;
		margin: 180px auto 0px auto;
		font-family:"Arial";
		font-size:14px;
         margin-bottom:200px;
		font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #fff;
        background:url("../Images/bg1.jpg") opacity:0.4, alpha(opacity=40);
        box-shadow:0px 0px 40px #fff;
        -moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
            }
#LoginForm hover{
		width: 360px;
		height: 250px;
		margin: 180px auto 0px auto;
		font-family:"Arial";
		font-size:14px;
         margin-bottom:200px;
		font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #fff;
        background:url("../Images/bg1.jpg");
        box-shadow:0px 0px 40px #fff;
        -moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
}
#LoginForm label {
  float: left;
  width: 100px;
  line-height: 40px;
  padding-right: 10px;
  font-weight: 100;
  text-align: right;
  letter-spacing: 1px;
  color:#fff;
}
   
/*Textbox style for login*/
.tb_login {
  padding: 0 10px;
  width: 200px;
  height: 30px;
  color: #bbb;
  text-shadow: 1px 1px 1px black;
  background: rgba(0, 0, 0, 0.16);
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
}
.tb_login focus {
  color: white;
  background: rgba(0, 0, 0, 0.1);
  outline: 0;
}


.forgot-password {
  padding-left: 100px;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 1px;
}
#login-button {
  width: 150px;
  height: 50px;
  cursor:pointer;
  }
  
  /*FOOTER*/
  #footer {
	padding: 0;
	bottom:0;
	width:100%;
	color:Blue;
	height:30px;			/* Height of the footer */
	text-align:center;
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
            }

/*WorkArea*/
.Working_Area 
{ float:right;
    width:700px;
	height:696px;  
    background-image:url("../Images/WorkArea-BG.png");
    padding:0;
    margin:0;
 
}

/*sidebar*/
.Side_bar
 {
     float:left;
	width: 198px;
	height:696px;
	padding:0;
	margin:0;
	border-right:2px #ccc dotted;
	background-color:White;
	font-family:Raavi;
	}

/*divider*/
.divider{
    width:595px;
    height:0;
    margin-top: 2px;
    border-top: #999999 solid medium;
}

/*Text Box Design*/
.tb{
    background-color:#fff;
    border:2px solid #dbdbdb;
    padding:5px;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
    color: #000;
    font-weight:bold;
    font-style:normal;
}


.button {
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 6px;
  width:auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  text-shadow: 1px 1px 3px #000000;
  border: solid #003366 2px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#42aaff), to(#003366));
  background: -moz-linear-gradient(top, #42aaff, #003366);
}

/* Button */
.BlueButton{
	padding:4px 4px 4px 4px;
	color:white;
    background-color:#0099CC;
	outline:none;
	border:1px solid #989898;
	font-weight:bold;
	text-decoration: none;
	border-radius: 2px;
    margin-left: 0px;
    margin-right: 0;
    margin-top: 0px;
}
.BlueButton:hover {
  	background:#00B2EE ;
  	border:1px solid #989898;
}/*GridViewCSS White Chrome Style*/
.mGrid  
{
    font: 13px Arial;
    text-align:center;
    background-color: #fff;
    border: solid 1px #525252;
    border-collapse:collapse;
}
.mGrid td  
{   
    font: 11px Arial;
    text-align:center;
    padding: 2px;
    border: solid 1px #c1c1c1;
    color: #717171; }
.mGrid th 
{
    padding: 4px 2px;
    color: #fff;
    background: #424242 url("../Images/grd_head.png") repeat-x top;
    border-left: solid 1px #525252;
    font-size: 0.9em;
 }
.mGrid .alt  
{
    background: #fcfcfc url("../Images/grd_alt.png") repeat-x top;
}
.mGrid .pgr { background: #424242 url("../Images/grd_pgr.png") repeat-x top; } 
.mGrid .pgr table { margin: 5px 0; } 
.mGrid .pgr td { 
border-width: 0; 
padding: 0 6px; 
border-left: solid 1px #666; 
font-weight: bold; 
color: #fff; 
line-height: 12px; 
} 
.mGrid .pgr a { color: #666; text-decoration: none; } 
.mGrid .pgr a:hover { color: #000; text-decoration: none; }

.Actibutton {
  font-family: Arial;
  color: #4c5270;
  font-size: 11px;
  text-decoration: none;
}
.Actibutton: hover {
  font-family: Arial;
  color: #4c5270;
  font-size: 11px;
  text-decoration: none;
}
/*vertical_navigation*/
#navigation {
	width:164px;
	margin:15px 0 0 12px;
    border:4px solid #ccc;
    border-radius:5px;
}
#navigation ul {
	margin:0px;
	padding:0px;
}
#navigation li {
	list-style: none;
} 
/*vetical_images*/
.nav_profile {
	display:block;
	background-attachment:relative;
	background-image:url("../Images/navigation.png");
	background-repeat:no-repeat;
	background-position:0px 0px;
	width:164px;
	height:38px;
}
.nav_profile:hover{
	background-position:0px -38px;
}
.nav_time {
	display:block;
	background-attachment:relative;
	background-image:url("../Images/navigation.png");
	background-repeat:no-repeat;
	background-position:0px -76px;
	width:164px;
	height:38px;
}
.nav_time:hover{
	background-position:0px -114px;
}
.nav_earning {
	display:block;
	background-attachment:relative;
	background-image:url("../Images/navigation.png");
	background-repeat:no-repeat;
	background-position:0px -152px;
	width:164px;
	height:38px;
}
.nav_earning:hover{
	background-position:0px -190px;
}
.nav_benefits {
	display:block;
	background-attachment:relative;
	background-image:url("../Images/navigation.png");
	background-repeat:no-repeat;
	background-position:0px -228px;
	width:164px;
	height:38px;
}
.nav_benefits:hover{
	background-position:0px -266px;
}
/*new added icon for general manager*/
.nav_accounts {
	display:block;
	background-attachment:relative;
	background-image:url("../Images/navigation_gm.png");
	background-repeat:no-repeat;
	background-position:0px -152px;
	width:164px;
	height:38px;
}
.nav_accounts:hover{
	background-position:0px -190px;
}
.nav_management {
	display:block;
	background-attachment:relative;
	background-image:url("../Images/navigation_gm.png");
	background-repeat:no-repeat;
	background-position:0px -304px;
	width:164px;
	height:38px;
}
.nav_management:hover{
	background-position:0px -342px;
}
.nav_history {
	display:block;
	background-attachment:relative;
	background-image:url("../Images/navigation_gm.png");
	background-repeat:no-repeat;
	background-position:0px -380px;
	width:164px;
	height:38px;
}
.nav_history:hover{
	background-position:0px -418px;
}
/*vertical sub menu*/
ul.top-level {
	background: #09C;
}
ul.top-level li {
	border-bottom: #fff solid;
	border-top: #fff solid;
	border-width: 1px;
}

#navigation a {
	 color: #fff;
	 cursor: pointer;
	 display:block;
	 height:38px;
	 line-height: 25px;
	 text-indent: 10px;
	 text-decoration:none;
	 width:164px;
}
#navigation a:hover{
	text-decoration:underline;
}

#navigation li:hover {
	 background: #f90;
	 position: relative;
}
ul.sub-level {
    display: none;
}
li:hover .sub-level {
    background: #999;
    border: 2px #fff solid;
    border-width: 1px;
    display: block;
    position: absolute;
    left: 163px;
	top:0px;
}
ul.sub-level li {
    border: none;
    float:left;
    width:164px;
    background:#09C;
}

/*Third Level*/
#navigation .sub-level .sub-level {
    background: #09C;
}
/*RESET STYLES*/
li:hover .sub-level .sub-level {
	display:none;
}
.sub-level li:hover .sub-level {
	display:block;
}
.panel
{
    position:absolute;
    margin:auto;
    border: 4px solid #B8B8B8;
    background-color:White;
    border-radius:4px;
    top: 108px;
    left:45px;
    width:330px;
}
.bb
{ 
    position:absolute;
    top:0%;
    left:0%;
    width:100%;
    height:100%;
    background-color:Black;
    z-index:1001;
    -moz-opacity:0.8;
    opacity:40;
    filter:alpha(opacity=80);
}